<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Document</title>
    </head>
    <body>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Document</title>
    </head>
    <body>
        <div
            style="
                height: 100px;
                width: 100%;
                background-color: lightgrey;
                display: flex;
                justify-content: center;
            "
        >
            <h1 style="font-size: 50px">Astrology</h1>
        </div>
        <div style="display: flex; justify-content: center">
            <div style="display: flex; flex-direction: column">
                <p>
                    Enter a name and a month and check your astrology!
                </p>
                <form id="form" action="">
                    <div
                        style="
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        "
                    >
                        <label for="name">Name</label>
                        <input id="name" type="text" />
                        <label for="month">Month</label>
                        <input id="month" type="text" />
                        <button
                            type="submit"
                            style="
                                width: 50px;
                                flex-direction: row-reverse;
                            "
                        >
                            Enter
                        </button>
                    </div>
                </form>
				<p id='astro-text'> hello </p>
            </div>
        </div>
        <script>
            let form = document.querySelector('#form');
            form.addEventListener('submit', function () {
				let astro = document.querySelector('#astro-text');
				fetch('http://localhost')
					.then(response => response.json())
					.then(data => console.log(data));
				astro.innerHTML = 'hello world'
            });
        </script>
    </body>
</html>