<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Document</title>
	</head>
	<body>
		<div
			style="
				height: 100px;
				width: 100%;
				background-color: lightgrey;
				display: flex;
				justify-content: center;
			"
		>
			<h1 style="font-size: 50px">Astrology</h1>
		</div>
		<div style="display: flex; justify-content: center">
			<div style="display: flex; flex-direction: column">
				<p>Enter a name and a month and check your astrology!</p>
				<button style="width: 50px; flex-direction: row-reverse;">Enter</button>
			</div>
		</div>
	</body>
</html>
